/* Style Settings */
/*@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');*/
:root {
    --colorA: #fefae0; /* Background/text*/
    --colorB: #d76735; /* Link base */
    --colorC: #fefae0; /* Link hover*/ 
    --colorD: #fbd266; /* Username*/
    --colorE: #d76735; /* Username shadow */
    --font: 'Modak', cursive;
}

body{
    background-color: var(--colorA);
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 15px;
}

#userName{
    color: var(--colorD);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 3px 0 var(--colorE), 1px 1px 0 var(--colorE), 2px 2px 0 var(--colorE);
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    display: block;
    background-color: var(--colorB);
    color: var(--colorA);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: padding 1s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--colorB) 2px;
    border-radius: 50px;
}

.link:hover{
    background-color: var(--colorC);
    color: var(--colorB);
    border: solid var(--colorB) 2px;
    border-radius: 50px;
}
